/* App.css */

.App {
  text-align: center;
}

.places-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 20px;
  justify-items: center; /* Center items horizontally */
}

.place {
  width: 200px; /* Adjust width of each place if necessary */
}

.sorting-options {
  margin-bottom: 20px;
}